#container {
  display: grid;
  grid-template-rows: 100px auto auto 100px;
  grid-template-columns: 150px auto 150px;
  background-color: lightblue;
  grid-gap: 20px 30px;
}

#container img {
  max-width: 100%;
  margin: auto;
  max-height: 100%;
}


