h1, form label, form input, form button {
    display: block;
    margin: .5rem;
}

form input, form button {
    padding: .5rem;
}

input {
  font: inherit;
  border: 1px solid lightblue;
  background-color: ivory;
}

button {
  font: inherit;
  border: none;
  background-color: lightblue;
}
