/* Body and container */
body {
  background: #202124;
  font-family: sans-serif;
  margin: auto;
  max-width: 800px;
}

.container {
  color: #fdfeff;
  text-align: center;
  margin: 1rem;
}

/* Heading */
h1 {
  color: #fdfeff;
}
a {
  text-decoration: none;
}

/* Form */
form {
  margin-top: 1rem;
}
select,
button {
  padding: 0.5rem;
  font-size: 1.1rem;
}

/* Shape gallery */
.flex-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
@media screen and (min-width: 600px) {
  .flex-container {
    flex-direction: row;
  }
}
.shape {
  height: 5rem;
  width: 5rem;
  transition: all 0.4s;
}

/* Colors */
/* Credit the Open Library of Humanities */

.mustard {
  background: #c08031;
}
.red {
  background: #e94c33;
}
.blue {
  background: #1579a0;
}

/* Shapes */
/*
.square {
  no rules needed
}
*/
.triangle {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
.circle {
  clip-path: circle();
}
.heptagon {
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}
.star {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}


/* Transformations */
.magnified {
  transform: scale(1.7);
}
.skewed {
  transform: skewY(50deg);
}
.rotated-45 {
  transform: rotate(45deg);
}
.rotated-minus-180 {
  transform: rotate(-180deg);
}
.moved-right-and-up {
  transform: translate(50%, -25%);
}
